.whiteFnt{
    color: rgb(var(--white));
}
.grey1Fnt{
    color: rgb(var(--grey1));
}
.grey2Fnt{
    color: rgb(var(--grey2));
}
.grey3Fnt{
    color: rgb(var(--grey3));
}
.mainZ51ColFnt{
    color: rgb(var(--mainNickCol));
    opacity: 0.99;
}
.mainContColFnt{
    color: rgb(var(--mainContCol));
    opacity: 0.99;
}

/*    12px*/
.fnt1p2rem{
    font-size: var(--fnt1p2rem);
}
/*    13px*/
.fnt1p3rem{
    font-size: var(--fnt1p3rem);
}
/*    16px*/
.fnt1p6rem{
    font-size: var(--fnt1p6rem);
}
/*    18px*/
.fnt1p8rem{
    font-size: var(--fnt1p8rem);
}
/*    24px*/
.fnt2p4rem{
    font-size: var(--fnt2p4rem);
}
/*    48px*/
.fnt4p8rem{
    font-size: var(--fnt4p8rem);
}

.letterSp0p6 {
    letter-spacing: 0.6rem;
}


html{
    font-size: 10px;
}
*:not(html) {
    font-size: 1.6rem;
}
body{
    line-height: normal;
    letter-spacing: normal;
    min-width: 32rem;
    font-family: 'arial', sans-serif;
    background: rgb(0,0,0); 
    min-height: 100vh;
}
.rubik{
    font-family: 'Rubik';
}
body *{
    color: rgb(var(--grey1));
     scrollbar-width: thin;
     scrollbar-color:  rgb(var(--mainNickCol)) rgb(var(--grey2));
}
body a{ 
    text-decoration: none !important;
    -webkit-transition: all 0.1s;transition: all 0.1s;
}
.mainWidth{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}


/*.mainWrap style start*/
.mainWrap{
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 100vh;
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
    border-top: 0.25rem solid rgb(var(--mainNickCol));
}
@media (min-width: 0px) {
    .mainWrap{
        background-image: var(--mainBgMob);
    }
}
@media (min-width: 768px) {
    .mainWrap{
        background-image: var(--mainBg);
    }
}
/*.mainWrap style end*/


/*header style start*/
header{
    position: relative;
}

/*logoImg style start*/
.fustCalc{
    position: absolute;
    top: 0;
    right: 0;
    height: 3.5rem;
    width: 20rem;
    background-color: rgb(var(--mainNickCol));
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
}
/*logoImg style end*/

/*logoImg style start*/
.logoImg{
    display: block;
}
.logoImg img{
    display: block;
    width: 100%;
    max-width: 46rem;
    margin: 0 auto;
}
/*logoImg style end*/

/*header style end*/