.whiteFnt{
    color: rgb(var(--white));
}
.grey1Fnt{
    color: rgb(var(--grey1));
}
.grey2Fnt{
    color: rgb(var(--grey2));
}
.grey3Fnt{
    color: rgb(var(--grey3));
}
.mainZ51ColFnt{
    color: rgb(var(--mainNickCol));
    opacity: 0.99;
}
.mainContColFnt{
    color: rgb(var(--mainContCol));
    opacity: 0.99;
}

/*    12px*/
.fnt1p2rem{
    font-size: var(--fnt1p2rem);
}
/*    13px*/
.fnt1p3rem{
    font-size: var(--fnt1p3rem);
}
/*    16px*/
.fnt1p6rem{
    font-size: var(--fnt1p6rem);
}
/*    18px*/
.fnt1p8rem{
    font-size: var(--fnt1p8rem);
}
/*    24px*/
.fnt2p4rem{
    font-size: var(--fnt2p4rem);
}
/*    48px*/
.fnt4p8rem{
    font-size: var(--fnt4p8rem);
}

.letterSp0p6 {
    letter-spacing: 0.6rem;
}
#svgIconsStorage{
    display: none;
}

html{
    font-size: 10px;
}
*:not(html) {
    font-size: 1.6rem;
}
body{
    line-height: normal;
    letter-spacing: normal;
    min-width: 32rem;
    font-family: 'arial', sans-serif;
    background: rgb(0,0,0); 
    min-height: 100vh;
}
.rubik{
    font-family: 'Rubik';
}
body *{
    color: rgb(var(--grey1));
     scrollbar-width: thin;
     scrollbar-color:  rgb(var(--mainNickCol)) rgb(var(--grey2));
}
body a{ 
    text-decoration: none !important;
    -webkit-transition: all 0.1s;transition: all 0.1s;
}
.mainWidth{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}




/*.mainWrap style start*/
.mainWrap{
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 100vh;
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
    border-top: 0.25rem solid rgb(var(--mainNickCol));
}
@media (min-width: 0px) {
    .mainWrap{
        background-image: var(--mainBgMob);
    }
}
@media (min-width: 768px) {
    .mainWrap{
        background-image: var(--mainBg);
    }
}
/*.mainWrap style end*/


/*header style start*/
header{
    position: relative;
}

/*fustCalc style start*/
.fustCalc{
    position: absolute;
    top: 0;
    right: 0;
    height: 3.5rem;
    width: 20rem;
    background-color: rgb(var(--mainNickCol));
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
}
@media (min-width: 0px) {
    .fustCalc{
        display: none;
    }
}
@media (min-width: 992px) {
    .fustCalc{
        display: block;
    }
}
/*fustCalc style end*/

/*logoImg style start*/
.logoImg{
    display: block;
}
.logoImg img{
    display: block;
    width: 100%;
    max-width: 46rem;
    margin: 0 auto;
}
/*logoImg style end*/

/*mainMenu style start*/
.mobBtnMenu{
    margin-top: 2%;
    padding-left: 2%;
}
.mobBtnMenu .svgIcons{
    fill: rgb(var(--mainNickCol));
    width: 100%;
    height: 100%;
    max-width: 5rem;
    max-height: 5rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
    cursor: pointer;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}
.mobBtnMenu .svgIcons:hover{
    fill: rgb(var(--white));
}

#mainMenu{
    position: relative;
}
#mainMenu li.closeMenuBtn{
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}
#mainMenu li.closeMenuBtn .svgIcons{
    fill: rgb(var(--black));
    width: 2.5rem;
    height: 2.5rem;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}
#mainMenu li.closeMenuBtn .svgIcons:hover{
    fill: rgb(var(--white));
}
#mainMenu, #mainMenu ul{
    list-style-type: none;
    padding-left: 1.2rem;
}
#mainMenu li span, #mainMenu li a{
    text-transform: uppercase;
    color: rgb(var(--white));
    font-family: 'Rubik';
    letter-spacing: 0.3rem;
    cursor: pointer;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}
#mainMenu li span:hover, #mainMenu li a:hover{
    color: rgb(var(--mainNickCol));
}
#mainMenu>li.hasSub>ul li span, #mainMenu>li.hasSub>ul li a{
    text-transform: none; 
    letter-spacing: normal;
}
#mainMenu>li.hasSub>ul li span:hover, #mainMenu>li.hasSub>ul li a:hover{
    color: rgb(var(--black));
}


#mainMenu>li.hasSub{
    position: relative;   
}
#mainMenu>li.hasSub>ul{
    background-color: rgb(var(--mainNickCol));
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
#mainMenu .hasSub span{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#mainMenu .hasSub span::before{
    content: '';
    display: block;
    border-style: solid;
    border-width: 0.5rem 0.3rem 0 0.3rem;
    border-color: rgb(var(--mainNickCol)) var(--transp);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    margin-right: 0.5rem;
}
#mainMenu>li.hasSub>ul li span::before{
    border-color: rgb(var(--white)) var(--transp);
}
#mainMenu .hasSub ul{
    display: none;
}



@media (min-width: 0px) {
    .mobBtnMenu, #mainMenu li.closeMenuBtn{
        display: block;
    }
    #mainMenu{
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        overflow: scroll;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: rgb(var(--mainNickCol));
        width: 100%;
        max-width: 300px;
    }
    #mainMenu>li.hasSub>ul{
        position: static;
    }
}
@media (min-width: 992px) {
    .mobBtnMenu, #mainMenu li.closeMenuBtn{
        display: none;
    }
    #mainMenu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        height: 1.9rem;
        overflow: visible;
        position: static;
        background-color: rgb(var(--transp));
        max-width: none;
    }
    #mainMenu>li.hasSub>ul{
        position: absolute;
    }
}
/*mainMenu style end*/

/*header style end*/