<div class="separator"></div>
<footer class="mainWidth d-flex flex-wrap justify-content-between py-5 py-lg-8 my-0 my-lg-8">
    <div class="d-flex flex-wrap align-items-center justify-content-center flex-grow-1">
        <a class="logoImg" href="#">
            <img src="./img/icons/svg/top_logo.svg" alt="">
        </a>
        <span class="letterSp0p1 whiteFnt fnt1p2rem text-uppercase my-3 mx-6 d-block">2019 © <a
                class="hoverLinkOrBr" href="">nickname.pro</a></span>
    </div>
    <nav class="d-flex flex-grow-1 justify-content-center">
        <ul class="d-flex flex-wrap align-items-center justify-content-center footMenu">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Портфолио</a></li>
            <li><a href="#">Оборудование</a></li>
            <li><a href="#">Цены</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>
</footer>