<header class="mainWidth pt-2 pb-5 py-lg-7 mb-lg-8 d-flex flex-column align-items-center justify-content-center">
    <div class="fustCalc"></div>
    <div class="d-flex flex-row w-100 justify-content-between justify-content-lg-center align-items-center">
        <div class="mobBtnMenu" data-menu="#mainMenu">
            <svg class="svgIcons">
                <use xlink:href="#menuBtn"></use>
            </svg>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <a class="logoImg my-0 my-lg-2 mx-3" href="#">
                <img src="./img/icons/svg/top_logo.svg" alt="">
            </a>
        </div>
    </div>
    <title class="fnt1p6rem whiteFnt rubik text-center text-uppercase letterSp0p6 my-4 mx-3 mb-lg-7 pb-lg-8 d-block">
    Лазерная резка и гравировка</title>

    <nav class="w-100">
        <ul id="mainMenu" class="m-0 p-0">
            <li class="hasSub"><span>Услуги</span>
                <ul>
                    <li><a href="#">Лазерная Резка CO2</a></li>
                    <li><a href="#">Лазерная Гравировка CO2</a></li>
                    <li><a href="#">Лазерная Резка конечностей</a></li>
                    <li class="hasSub"><span>Уникальные услуги</span>
                        <ul>
                            <li><a href="#">Деление атомов водорода</a></li>
                            <li><a href="#">Запуск ядерной реакции</a></li>
                            <li><a href="#">Отпавление человека в космос</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Портфолио</a></li>
            <li class="hasSub"><span>ИНТЕРНЕТ-МАГАЗИН</span>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>
            </li>
            <li><a href="#">ЗАЯВКА НА ПРОСЧЕТ</a></li>
            <li class="hasSub"><span>КОНТАКТЫ</span>
                <ul>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                    <li><a href="#">lorem</a></li>
                </ul>
            </li>
    
            <li class="closeMenuBtn">
                <svg class="svgIcons">
                    <use xlink:href="#closeBtn"></use>
                </svg>
            </li>
        </ul>
    </nav>
</header>
